.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hoverDiv {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 10px;
}

.container:hover .image {
  background: black;
  opacity: 0.5;
}

.container:hover .hoverDiv {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
